table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
table{
	width: 50%;
}
#create{
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
}